NODE_ENV=dev 
DATABASE_URL="postgresql://neondb_owner:npg_4NsWQEDC5xOX@ep-soft-art-a4iqor8v-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET=5f8d7a3b9e2c1f7d3b6a9c2e1f4a7b9c

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
